<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martiportatil.negocis6icons">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Hotels"
            android:theme="@style/Hotels"/>
        <activity android:name=".Business"
            android:theme="@style/Business"/>
        <activity android:name=".Knowledge"
            android:theme="@style/Knowledge"/>
        <activity android:name=".Movies"
            android:theme="@style/Movies"/>
        <activity android:name=".Restaurants"
            android:theme="@style/Restaurants"/>
        <activity android:name=".Weather"
            android:theme="@style/Weather"></activity>
    </application>

</manifest>